.heading{
    font-size: 2.5rem;
    font-weight: 600;
    color: #000000;
    text-align: center;
}
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
    margin: 5rem 14rem;
    padding: 2rem;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
}
.login-form-label{
    font-size: 1.5rem;
    font-weight: 600;
    color: #000000;
    text-align: center;
}
.login-form-input{
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #000000;
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
    text-align: center;
}
.login-form-button{
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #000000;
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
    text-align: center;
    background-color: #ffffff;
}
